<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-secondary">
    <h class="navbar-brand">TinyApp</h>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

      <div class="navbar-nav">
        <% if (user_id === undefined) { %>
          <a class="nav-item nav-link" href="/register">Register</a>
          <a class="nav-item nav-link" href="/login">Log In</a>
        <% } else { %>
          <label for="email" class="form-inline" style="margin: 0 0.5em 0 0"><%= user_id.email %></label>
          <% if (user_id.email === "admin") { %>
            <form class="nav-item nav-link" action="/check" method="POST">
              <button type="submit" class="btn btn-danger" name="check" style="margin: 0 0.2em 0 0.2em">check</button>
            </form>
          <% } %>
          <form class="form-inline" action="/logout" method="POST">
            <button type="submit" class="btn btn-success margin-left: 0.2em">logout</button>
        </form>
        <% } %>
      </div>

  </nav>
</header>